@media only screen and (min-width: 1025px) {
  main {
    grid-template-columns: 100px auto 25%;
    grid-template-rows: 8vw 10vw repeat(2, auto);
    grid-template-areas: ". . top-graphic"
                         ". header top-graphic"
                         "socials form top-graphic"
  }

  #heading {
    margin: 0px 0px 10px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #heading h1 {
    font-size: 4rem;
  }

  #heading h2 {
    font-size: 1.5rem;
  }

  form {
    grid-area: form;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 50vw;
    max-width: 600px;
  }
}

@media only screen and (min-width: 1550px) {
  form {
    margin-left: 10vw;
  }

  #heading {
    margin-left: 10vw;
  }
}