:root {
  --accent: #00e9f9;
  --light-1: #e1e3e4;
  --light-2: #c3c4c8;
  --dark-1: #647286;
  --dark-2: #434f61;
  --dark-3: #283447;
  --dark-4: #092138;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--dark-4);
  background: -moz-linear-gradient(180deg, var(--dark-2) 0%, var(--dark-4) 40%);
  background: -webkit-linear-gradient(180deg, var(--dark-2) 0%, var(--dark-4) 40%);
  background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-4) 40%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--dark-2)",endColorstr="var(--dark-4) ",GradientType=1);
  background-position:50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

/* navbar */
nav {
  display: flex;
  background-color: var(--dark-4);
  position: fixed;
  width: 100%;
  flex-direction: column;
  z-index: 100;
}

.logo-hamburger {
  display: flex;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  background-color: var(--dark-4);
  z-index: 100;

}

.nav-logo {
  line-height: 0;
  display: inline-block;
  margin: 20px;
  z-index: 100;
}

.nav-logo svg {
  height: 30px;
  width: auto;
  fill: white;
}

.nav-logo svg:hover {
  fill: var(--accent);
}

/* hamburger and animation */
#hamburger {
  align-self: center;
  top: 0;
  margin: 0px 20px 0px auto;

  position: relative;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0.87;
  z-index: 100;
  cursor: pointer;
}

#ham-top, #ham-bottom {
  transition: 0.5s;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 0;
}

#ham-middle {
  transition: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: white;
  top: calc(50% - 1px);
}

#ham-bottom {
  position: absolute;
  top: 100%;
}

.ham-top-transition {
  top: calc(50% - 1px) !important;
  transform: rotate(45deg);
  transition: 0.5s;
}

.ham-middle-transition {
  width: 0px !important;
  transition: 0.5s;
}

.ham-bottom-transition {
  top: calc(50% - 1px) !important;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.nav-links {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  height: 100vh;

  padding: 0;
  padding-top: 80px;
  background-color: var(--dark-4);

  transform: translateY(-95%);
  transition: 0.6s;
}

.nav-links li {
  font-family: 'Montserrat', sans-serif;
  margin: 20px auto 20px 20px;
  color: white;
  opacity: 80%;
  font-size: 2.3rem;
}

.nav-links li:hover {
  color: var(--accent);
}

.nav-links-show {
  transform: translateY(0%);
  transition: 1s cubic-bezier(.66,-0.66,.15,1.09);
}

/* top drip graphic */
.drip-top {
  grid-area: top-graphic;
  width: 100%;
  position: relative;
  transform: translateY(-10px);
  transition: 0.6s;
  z-index: 80;
}

.drip-top-slide {
  transform: translateY(100vh);
  transition: 1s cubic-bezier(.66,-0.66,.15,1.09);
}

.drip-top svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 142%;
  display: block;
  filter: drop-shadow(0 4px 5px rgba(0,0,0,0.14)) drop-shadow(0 1px 10px rgba(0,0,0,0.12)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
  -webkit-filter: drop-shadow(0 4px 5px rgba(0,0,0,0.14)) drop-shadow(0 1px 10px rgba(0,0,0,0.12)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

.drip-top svg:nth-child(1) {
  color: var(--dark-2);
  transform: translateY(60px);
  position: relative;
  right: 42%;
}

.drip-top svg:nth-child(2) {
  color: var(--dark-3);
  transform: translateY(30px);
}

.drip-top svg:nth-child(3) {
  color: var(--dark-4);
  transform: translateY(0px);
}

footer {
  position: relative;
}

/* bottom drip graphic */
.drip-bottom {
  grid-area: footer;
  position: absolute;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  transform: translateY(-100%);
  overflow: hidden;
}

.drip-bottom svg {
  display: block;
  position: absolute;
  width: 142%;
  filter: drop-shadow(0 4px 5px rgba(0,0,0,0.14)) drop-shadow(0 1px 10px rgba(0,0,0,0.12)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
  -webkit-filter: drop-shadow(0 4px 5px rgba(0,0,0,0.14)) drop-shadow(0 1px 10px rgba(0,0,0,0.12)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

.drip-bottom svg:nth-child(1) {
  color: var(--dark-4);
  transform: rotate(180deg);
  position: relative;
}

.drip-bottom svg:nth-child(2) {
  color: var(--dark-3);
  transform: translateY(calc(-100% + 30px)) rotate(180deg);
}

.drip-bottom svg:nth-child(3) {
  color: var(--dark-2);
  transform: translateY(calc(-100% + 60px)) rotate(180deg);
}

/* social media icons */
#media-icons {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#media-icons::before, #media-icons::after{
  content: "";
  height: 1px;
  width: 20%;
  background-color: white;
}


#media-icons svg {
  position: relative;
  fill: white;
  font-size: 2rem;
  opacity: 0.87;
  font-weight: lighter;
  height: 2rem;
  stroke: var(--dark-2);
}

#media-icons svg:hover {
  transform: translateY(-5px);
  fill: var(--accent);
}