@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {

  /* from research, CSS variables not supported by validator but is due to validator not being updated.
  Variables required. Intentions to implement light mode in future */
  --accent: #00e9f9;
  --light-1: #e1e3e4;
  --light-2: #c3c4c8;
  --dark-1: #647286;
  --dark-2: #434f61;
  --dark-3: #283447;
  --dark-4: #092138;

  /* material design box shadows */
  --box-dp4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  --box-dp8: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  --box-dp12: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

  /* material design drop shadow */
  --drop-dp4: drop-shadow(0 4px 5px rgba(0,0,0,0.14)) drop-shadow(0 1px 10px rgba(0,0,0,0.12)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

/* change overscroll color */
html {
  background-color: var(--dark-4);
}

a {
  text-decoration: none;
  color: inherit;
}

/* set elements to use imported font */
h1, h2, h3, h4, p, article, li, a, small, span, time, #copyright {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--light-1);
}

/* remove dot points from unordered lists */
ul {
  list-style: none;
}

body {
  margin: 0;

  /* add gradient background */
  background-color: var(--dark-4); /* Fallback background color for non supported browsers */
  background: linear-gradient(180deg, var(--dark-2) 0%, var(--dark-4) 40%);

  background-position:50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

/* navbar */
nav {
  display: flex;
  background-color: var(--dark-4);
  position: fixed;
  width: 100%;
  flex-direction: column;
  z-index: 200;
}

.logo-hamburger {
  display: flex;
  box-shadow: var(--box-dp4);
  background-color: var(--dark-4);
  z-index: 300;
}

.nav-logo {
  line-height: 0;
  display: inline-block;
  margin: 20px;
  z-index: 100;
}

.nav-logo svg {
  height: 30px;
  width: auto;
  fill: white;
}

.nav-logo svg:hover {
  fill: var(--accent);
}

/* hamburger and animation */
#hamburger {
  align-self: center;
  top: 0;
  margin: 0px 20px 0px auto;

  position: relative;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  opacity: 0.87;
  z-index: 100;
  cursor: pointer;
}

#ham-top, #ham-bottom {
  transition: 0.5s;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 0;
}

#ham-middle {
  transition: 0.5s;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: white;
  top: calc(50% - 1px);
}

#ham-bottom {
  position: absolute;
  top: 100%;
}

.ham-top-transition {
  top: calc(50% - 1px) !important;
  transform: rotate(45deg);
  transition: 0.5s;
}

.ham-middle-transition {
  width: 0px !important;
  transition: 0.5s;
}

.ham-bottom-transition {
  top: calc(50% - 1px) !important;
  transform: rotate(-45deg);
  transition: 0.5s;
}

#nav-links {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  height: 100vh;

  padding: 0;
  padding-top: 80px;
  background-color: var(--dark-4);

  transform: translateY(-95%);
  transition: 0.6s;
  z-index: 150;
}

#nav-links li {
  margin: 20px auto 20px 20px;
  color: white;
  opacity: 80%;
  font-size: 2.3rem;
}

#nav-links a:hover {
  color: var(--accent);
}

.nav-links-show {
  transform: translateY(0%) !important;
  transition: 1s cubic-bezier(.66,-0.66,.15,1.09) !important;
}

#nav-socials {
  position: absolute;
  width: 100%;
  top: 85%;
  margin: 0 !important;
}
/* the rest of the navbar media icon styling is located with the footer icons */

/* main content */
main {
  display: grid;
  overflow: hidden;
  position: relative;
}

#heading {
  grid-area: header;
  margin-left: 10vw;
  width: fit-content;
  margin-bottom: 30px;
}

#heading h1 {
  color: var(--light-1);
  font-size: 2.8rem;
  font-weight: 400;
}

#heading h2 {
  color: var(--accent);
  font-weight: 100;
}

.link-underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: var(--accent);
  opacity: 0.3;
  bottom: 0;
  left: 0;
}

footer {
  grid-area: footer;
  position: relative;
}

/* drip graphics */

#drip-top, #drip-bottom {
  width: 100%;
}

#drip-top svg, #drip-bottom svg {
  position: absolute;
  display: block;
  width: 142%;
  filter: var(--drop-dp4);
  -webkit-filter: var(--drop-dp4);
}

/* top drip graphic */
#drip-top {
  grid-area: top-graphic;
  position: relative;
  transform: translateY(-10px);
  transition: 0.6s;
  z-index: 80;
}

.drip-top-slide {
  transform: translateY(100vh) !important;
  transition: 1s cubic-bezier(.66,-0.66,.15,1.09) !important;
}

#drip-top svg:nth-child(1) {
  color: var(--dark-2);
  transform: translateY(60px);
  position: relative;
  right: 42%;
}

#drip-top svg:nth-child(2) {
  color: var(--dark-3);
  transform: translateY(30px);
}

#drip-top svg:nth-child(3) {
  color: var(--dark-4);
  transform: translateY(0px);
}


/* bottom drip graphic */
#drip-bottom {
  grid-area: footer;
  position: absolute;
  padding-top: 60px;
  padding-bottom: 60px;
  transform: translateY(-100%);
  overflow: hidden;
}

#drip-top svg {
  top: 0;
  right: 0; 
}

#drip-bottom svg:nth-child(1) {
  color: var(--dark-4);
  transform: rotate(180deg);
  position: relative;
}

#drip-bottom svg:nth-child(2) {
  color: var(--dark-3);
  transform: translateY(calc(-100% + 30px)) rotate(180deg);
}

#drip-bottom svg:nth-child(3) {
  color: var(--dark-2);
  transform: translateY(calc(-100% + 60px)) rotate(180deg);
}

/* social media icons */
#media-icons {
  z-index: 150;
}

#media-icons, #nav-media-icons{
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

#media-icons::before, #media-icons::after, #nav-media-icons::before, #nav-media-icons::after {
  content: "";
  height: 1px;
  width: 20%;
  background-color: white;
}


#media-icons svg, #nav-media-icons svg{
  position: relative;
  fill: white;
  opacity: 0.87;
  height: 2rem;
  stroke: var(--dark-2);
}

#nav-media-icons {
  margin-bottom: 70px;
}

#nav-media-icons svg {
  stroke: var(--dark-4); 
}

#media-icons svg:hover, #nav-media-icons svg:hover {
  transform: translateY(-5px);
  fill: var(--accent);
}

#copyright {
  grid-area: footer;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
  opacity: 0.6;
  font-size: 0.6rem;
}