@media only screen and (min-width: 551px) {
  main {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 55vw auto auto 45vw;
    grid-template-areas: "top-graphic top-graphic"
                         "pic header"
                         "socials text"
                         "footer footer";
  }

  #heading {
    text-align: left;
    margin: 0;
    margin-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #heading h2 {
    font-size: 4vw;
  }
  
  #heading h1 {
    font-size: 5.8vw;
  }
  
  #intro-header-statement {
    font-size: 3vw !important;
  }

  /* following max heights and widths dont pass due to css variables :( */
  #headshot-wrapper {
    margin: auto;
    --hex-width: 25vw;
    --max-hex-width: 250px;
    max-width: var(--max-hex-width);
    max-height: calc(var(--max-hex-width) / 0.8660254); /* 0.8660254 is a multiplier for height width ratio of an equal hexagon */
    transform: translateX(1vw);
  }

  #headshot-wrapper svg {
    max-height: calc(var(--max-hex-width) / 0.8660254)
  }

  #headshot {
    max-width: var(--max-hex-width);
    max-height: calc(var(--max-hex-width) / 0.8660254)
  }

  #headshot img {
    max-width: var(--max-hex-width);
  }

  #text {
    text-align: left;
    width: 45vw;
    margin: 0;
    margin-left: 5vw;
    padding-right: 10vw;
    transform: translateY(-10px);
  }

  #media-icons {
    width: 100%;
  }
}

@media only screen and (min-width: 775px) {
  main {
    grid-template-rows: 45vw auto auto 45vw;
  }

  #text {
    font-size: 2vw;
    line-height: 2;
  }
}

