@media only screen and (min-width: 1025px) {
  main {
    height: 100vh;
    grid-template-columns: 75% auto;
    grid-template-rows: 10vw 5vw 70px auto 0vw;
    grid-template-areas: ". top-graphic"
                         "header top-graphic"
                         "tabs top-graphic"
                         "content top-graphic"
                         "socials top-graphic"
  }

  #drip-top {
    left: 0%;
  }

  #tabs {
    padding-left: 0px;
    margin-left: 15vw;
    margin-right: 5vw;
    margin-bottom: 30px;
    max-width: 650px;
    left: 4%;
    z-index: 1000;
    height: fit-content;
  }

  .project {
    grid-area: content !important;
    flex-direction: row;
    margin-left: 15vw;
    margin-right: 5vw;
    justify-content: center;
    height: fit-content;
  }

  .project article {
    margin-left: 20px;
    align-self: flex-start;
    width: 350px;
    height: 350px;
  }
}

@media only screen and (min-width: 1420px) {
  .project {
    justify-content: flex-start;
  }


}