main {
  grid-template-rows: repeat(4, auto) 90vw 0vw;
  grid-template-areas: "top-graphic"
                       "header"
                       "link"
                       "content"
                       "socials"
                       "footer";
}

#resume-link {
  position: relative;
  grid-area: link;
  width: fit-content;
  margin-bottom: 70px;
  margin-left: 20vw;
  font-weight: 700;
  opacity: 0.8;
  font-size: 1.1rem;
  color: var(--accent);
  z-index: 500;
}

section {
  margin-bottom: 80px;
  margin-left: 10vw;
  width: 80vw;
  max-width: 360px;
}

.topic {
  display: flex;
}

.chunk {
  display: flex;
}

.chunk:hover .text {
  background-color: #ffffff0e;
  border-radius: 15px;
  transition: 0.5s;
  cursor: default;
}

.chunk:hover .circle {
  background-color: var(--accent);
  opacity: 0.6;
  transition: 0.5s;
}

.circle-line {
  --circle: 60px;
  --small-blue-circle: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.topic .circle-line {
  padding: 0 20px;
}

.small-blue-circle {
  width: var(--small-blue-circle);
  height: var(--small-blue-circle);
  background-color: var(--accent);
  border-radius: 50%;
}

.circle {
  width: var(--circle);
  height: var(--circle);
  border-radius: 50%;
  border: 1px solid white;
}

.line {
  width: 1px;
  height: calc(100% - var(--circle));
  background-color: white;
}

.topic .line {
  height: calc(100% - var(--small-blue-circle));
}

.last-line {
  height: calc(100% - (var(--small-blue-circle) + var(--circle)));
}

.text {
  padding: 0 10px;
}

section h1, section h2 {
  opacity: 0.8;
}

section h2, section h3, section h4 {
  font-weight: 400;
}

section h3, section h4, section h5, article {
  opacity: 0.6;
}


section h1 {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
  width: 65vw;
}

section h2 {
  font-size: 1.4rem;
  margin-top: calc(30px - 1rem);
}

section h3 {
  font-size: 0.9rem;
}

section h4 {
  font-size: 1rem;
  color: var(--accent);
  margin: 0;
  margin-bottom: 1.2rem;
}

article {
  margin-bottom: 2.3rem;
  line-height: 1.5;
  font-size: 0.9rem;
}


