main {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto) 80vw;
  grid-template-areas: "top-graphic top-graphic"
                       "header header"
                       "html js"
                       "ruby css"
                       "python python"
                       "flask c"
                       "sql scratch"
                       "footer footer";
}

#heading h2 {
  font-size: 0.8rem;
}

/* again with the validator and calcs with variables :( I promise it all works! */
.skill-bubble {
  /* circle width defined for individual bubbles below */
  --middle-circle-size: calc(var(--circle-width) * 0.85);
  --top-circle-size: calc(var(--circle-width) * 0.65);
  display: flex;
  align-items: center;
  position: relative;
  backface-visibility: hidden;
}

.skill-bubble div {
  position: relative;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-dp4)
}

.bottom-circle {
  background-color: var(--dark-4);
  width: var(--circle-width);
  height: var(--circle-width);
}

.middle-circle {
  background-color: var(--dark-3);
  width: var(--middle-circle-size);
  height: var(--middle-circle-size);
}

.top-circle {
  background-color: var(--dark-2);
  width: var(--top-circle-size);
  height: var(--top-circle-size);
}

#html-bubble {
  --circle-width: 47vw;
  grid-area: html;
  left: 10%;
}

#js-bubble {
  --circle-width: 28vw;
  grid-area: js;
  left: -5%;
  top: -5%;
}

#ruby-bubble {
  --circle-width: 39vw;
  grid-area: ruby;
  top: 10%;
}

#css-bubble {
  --circle-width: 42vw;
  grid-area: css;
  left: -5%;
  top: -15%;
}

#python-bubble {
  --circle-width: 68vw;
  grid-area: python;
  left: 8%;
  top: 5%;
}

#flask-bubble {
  --circle-width: 31vw;
  grid-area: flask;
  left: -5%;
  top: -10%;
}

#c-bubble {
  --circle-width: 43vw;
  grid-area: c;
  left: -5%;
  top: 25%;
}

#sql-bubble {
  --circle-width: 30vw;
  grid-area: sql;
  padding-bottom: 10%;
  left: 10%;
  top: 10%;
}

.top-circle svg {
  position: absolute;
}

/* logos scaled depending on their proportions  */

#html {
  height: calc(var(--circle-width) * 0.7);
}

#js {
  height: calc(var(--circle-width) * 0.4);
}

#ruby {
  height: calc(var(--circle-width) * 0.4);
}

#css {
  height: calc(var(--circle-width) * 0.75);
}

#python {
  height: calc(var(--circle-width) * 0.7);
}

#flask {
  height: calc(var(--circle-width) * 0.6);
}

#c {
  height: calc(var(--circle-width) * 0.9);
}

#sql {
  height: calc(var(--circle-width) * 0.45);
}

#scratch {
  grid-area: scratch;
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transform: translateY(60%);
}

#scratch svg {
  height: 50vw;
  transform: translateX(25%);
}
